<p>Cancellation works!!</p>

<!-- <div class="container" style="margin: 50px;">
    <form [formGroup]="EditForm" (ngSubmit)="onSubmit()">
      <div class="form-group mx-sm-3 mb-2">
        <label for="FlightID">Cancellation ID</label>
        <input type="text" formControlName="CancellationId" value="{{CancellationId}}" [(ngModel)]="CancellationId " class="form-control"
          readonly id=""><br>
        <div class="form-group">
          <label for="FlightName">Flight ID</label>
          <input type="text" formControlName="FlightId" value="{{FlightId}}" [(ngModel)]="FlightId" class="form-control"
          readonly id=""><br>
        </div>
        <div class="form-group">
          <label for="Source">Booking ID</label>
          <input type="text" formControlName="BookingId" value="{{BookingId}}" [(ngModel)]="BookingId" class="form-control"
          readonly id=""><br>
        </div>
        <div class="form-group">
          <label for="Destination">Date of Cancellation</label>
          <input type="text" formControlName="DateOfCancellation" value="{{DateOfCancellation}}" [(ngModel)]="DateOfCancellation" class="form-control"
          readonly id=""><br>
        </div>
        <div class="form-group">
          <label for="AvailableSeats">Refund Amount</label>
          <input type="text" formControlName="RefundAmount" value="{{RefundAmount}}" [(ngModel)]="RefundAmount" class="form-control"
          readonly id=""><br>
        </div>
      
      <button type="submit" class="btn btn-primary" style="margin: 20px;float: right;">Confirm</button>
    </form>
  </div> -->
