<div class="container" style="margin: 50px;">
    <h2 class="text-center">Add Flight</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group mx-sm-3 mb-2">
            <!-- <label for="FlightID">Flight ID</label>
            <input type="text" ngModel name="FlightID" class="form-control" placeholder="Flight ID" id=""><br> -->
            <div class="form-group">
            <label for="FlightName">Flight Name</label>
            <input type="text" formControlName="FlightName" class="form-control" placeholder="Flight Name" id="FlightName" >
            <span *ngIf="!addForm.get('FlightName').valid && addForm.get('FlightName').touched" 
           class="help-block" style="color:red;"> Please Enter Flight Name </span>
            </div>
            <div class="form-group">
            <label for="Source">Source</label>
            <input type="text" formControlName="Source" class="form-control" placeholder="Source">
            <span *ngIf="!addForm.get('Source').valid && addForm.get('Source').touched" 
           class="help-block" style="color:red;"> Please Enter Source </span>
        </div>
            <div class="form-group">
            <label for="Destination">Destination</label>
            <input type="text" formControlName="Destination" class="form-control" placeholder="Destination">
            <span *ngIf="!addForm.get('Destination').valid && addForm.get('Destination').touched" 
           class="help-block" style="color:red;"> Please Enter Destination </span>
        </div>
        <div class="form-group">
            <label for="AvailableSeats">Available Seats</label>
            <input type="number" formControlName="AvailableSeats" class="form-control" placeholder="Available Seats">
            <span *ngIf="!addForm.get('AvailableSeats').valid && addForm.get('AvailableSeats').touched" 
           class="help-block" style="color:red;"> Please Enter Available Seats </span>
        </div>
        <div class="form-group">
            <label for="BaggageLimit">BaggageLimit</label>
            <input type="number" formControlName="BaggageLimit" class="form-control" placeholder="Baggage Limit">
            <span *ngIf="!addForm.get('BaggageLimit').valid && addForm.get('BaggageLimit').touched" 
           class="help-block" style="color:red;"> Please Enter BaggageLimit </span>
        </div>
        <div class="form-group">
            <label for="ArrivalTime">Arrival Time</label>
            <input type="text" formControlName="ArrivalTime" class="form-control" placeholder="Arrival Time">
            <span *ngIf="!addForm.get('ArrivalTime').valid && addForm.get('ArrivalTime').touched" 
           class="help-block" style="color:red;"> Please Enter Arrival Time </span>
        </div>
        <div class="form-group">
            <label for="DepartureTime">Departure Time</label>
            <input type="text" formControlName="DepartureTime" class="form-control" placeholder="Departure Time">
            <span *ngIf="!addForm.get('DepartureTime').valid && addForm.get('DepartureTime').touched" 
           class="help-block" style="color:red;"> Please Enter Departure Time </span>
        </div>
        </div>
   <button type="submit" class="btn btn-primary" style="margin: 20px;float: right;">Add</button>
    </form>
</div>