 <!-- <table class="table table-bordered table-striped">
    <thead>
      <tr class="text-center text-uppercase">
        <th>Flight Id</th>
        <th>Flight Name</th>
        <th>Source</th>
        <th>Destination</th>
        <th>DepartureTime</th>
        <th>Arrival Time</th>
        <th>BaggageLimit</th>
        <th>AvailableSeats</th>

      </tr>
    </thead>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      
    </tr>
    <tbody>  
       <tr *ngFor="let fly of flights">
          <td>{{fly.FlightId}}</td>  
          <td>{{fly.FlightName}}</td>  
          <td>{{fly.Source}}</td>  
          <td>{{fly.Destination}}</td>  
          <td>{{fly.DepartureTime}}</td>  
          <td>{{fly.FlightId}}</td>  
          <td>{{fly.BaggageLimit}}</td>  
          <td>{{fly.AvailableSeats}}</td>  

        </tr>  
      </tbody>   
  </table>  -->