/* compmeneet css */
.container
{
 
  padding-top: 20px;
  align-items: center;
  
  /* opacity: 0.7;
 
  border-top: 20px solid#3d57b2;
  border-bottom: 20px solid #8194d4; */
}
.text-blue
{
  color: #233266;
  font-weight: 400;
  font-size: medium;
}
.btn-blue{
  background-color:#8194d4;
  height: 40px;
  width: 200px;
  margin-inline: 40px;

}
/* compmeneet css  end*/
