<div class="container">
    <h2>Flight Details</h2>
    <button class="btn btn-primary" (click)="add()" style="float: right;">Add Flights</button><br>
    <br><br>
    
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Flight ID</th>
            <th scope="col">Flight Name</th>
            <th scope="col">Source</th>
            <th scope="col">Destination</th>
            <th scope="col">Available Seats</th>
            <th scope="col">Baggage Limit</th>
            <th scope="col">Arrival Time</th>
            <th scope="col">Departure Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flight of flightData">
            <th scope="row">{{flight.FlightId}}</th>
            <td>{{flight.FlightName}}</td>
            <td>{{flight.Source}}</td>
            <td>{{flight.Destination}}</td>
            <td>{{flight.AvailableSeats}}</td>
            <td>{{flight.BaggageLimit}}</td>
            <td>{{flight.ArrivalTime}}</td>
            <td>{{flight.DepartureTime}}</td>
            <a [routerLink]="['edit',{'FlightId':flight.FlightId}]"><i class="fas fa-edit"></i></a>
            <i class="fas fa-trash-alt" (click)="delete(flight.FlightId)"></i>
          </tr>
        </tbody>
      </table>
   
</div>